/*Sobre 1 */
.sobre1{  
    padding: 2em 5em 2em 5em ;
}
.sobre-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.TituloSobre1{
    display: block;
    text-align: center;
}

.subTituloT1{
    position: relative;
    display: inline-block;
    font-size: 1.3rem;
    margin: 8px;
    font-weight: 500;
}

.subTituloT1:before, .subTituloT1:after {
  content: "";
  position: absolute;
  top: 0.50em;
  width: 2em;
  height: 0.15em;
  background-color:#33CCFF;
  left: -2.5em;
}

.subTituloT1:after{
    left: initial;
    right: -2.5em;
    font-family: 'Playfair Display', serif;
  }
  
#tituloT1{
    font-size: 2em;
    color: #33CCFF;
    font-family: 'Roboto Mono', monospace;
}

.t1{
    max-width: 500px;
    width: 100%;
    margin: 20px;
}

.t1 p{
    text-align: justify;
    /* max-width: 400px;
    min-width: 300px; */
    margin-top: 20px;
    font-size: 1.3em; 
    font-family: 'Playfair Display', serif;
    line-height: 1.2;
    width: 100%;
    max-width: 500px;
}

.divPicture{
    display: flex;
    max-width: 500px;
    width: 100% ;
    align-items: center;
    justify-content: center;
}
.divAnimation{
    display: flex;
    align-items: center;
    justify-content: center;
     /* width: 100%;  */
    position: relative;
    overflow: hidden;
    padding:6px; 
    border-radius: 5px
    
}

.animationDiv{
    border-radius: 20px;
    z-index: 10; 
    width: 400px;
}

.divAnimation::before{
    content: '';
    position: absolute;
    width: 350px;
    height: 160%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate 4s linear infinite; 
    border-radius: 20px;  
}

.divAnimation::after{
    content: '';
    position: absolute;
    inset: 4px;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    0%{
        transform: rotate(350deg);
    }
}

/* .sobre1 img{
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
} */


/*Sobre 2 --------------------------------*/

.sobre2{
    background-color:  #33CCFF;
    padding: 1em 5em;
}

.sobre-container2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
}

.colunaP{
    text-align: center;
}

.colunaP p{
    text-align: justify;
   /*  max-width: 400px;
    min-width: 300px;
    margin: 20px 0; */
    font-size: 1.3em; 
    font-family: 'Playfair Display', serif;
    line-height: 1.2;
}


.colunasobre h1{
    text-align: center;
    font-size: 1.8em;
}

.colunasobre, .colunasobre2{
    max-width: 500px;
    width: 100%;
}
.colunasobre2{
    margin: 40px 0;
}


.colunasobre2 hr{
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 2), rgba(0, 0, 0, 0));
    margin: 5px 0;
}

.colunasobre2 h1{
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.7em;
}

.colunasobre2 ul{
    text-align: center;
}
.colunasobre2 li{ 
    list-style: none;
    padding: 5px 0;
    font-weight: 500;
    font-family: 'Noto Sans', sans-serif;
    text-transform: lowercase;  
}

.exp{
    margin: 20px 0;
    background-color: #33ccff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 1px 15px black;
}

.exp .subTituloT1:before,  .exp .subTituloT1:after {
    background-color:black;
  }

.exp__local, .exp__cargo{
    text-align: center !important;
    font-weight: 500;
    margin: 10px 0 !important;
}

.iconesPorti{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.iconesPorti img{
    width: 125px;
    margin: 5px;
}

.textoPorti li{
    font-size: 20px;
    font-weight: 600;
}

