/*
    Rosa1: #e73c7e
    Rosa2: #d400d4;
    Azul: #33CCFF;
    background animation: background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(#00ccff, #d400d4);
*/

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }
  
body{
    overflow-x: hidden;
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
/*back ground animado*/
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab);
    /* position: relative; */
    background-size: 400% 400%;
    animation: change 7s ease-in-out infinite ;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@keyframes change {
    0%{
        background-position:0 50% ;
    }
    50%{
        background-position:100% 50% ;
    }
    100%{
        background-position: 0 50% ;
    }   
}

/*Animações*/

[data-anime] {
    opacity: 0;
    transition: .8s;
}

[data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}

[data-anime="bottom"]{
    transform: translate3d(0, 50px, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.animate{
    opacity: 1 !important;
    transform: translate3d(0, 0, 0) !important;
}

.animateMenuShow{
    background-color: #222;
}

.animateMenuShow ul li a{
    color: #33CCFF;
    transition: .5s;
}